{% extends "core/base.html" %}

{% block content_name %}
    <h2>All categories</h2>
{% endblock %}

{% block content %}
        <form action="" method="GET">
            {{ CategoryListForm }}
            <input type="submit" value="Search">
        </form>
    <hr>
        <a href="{% url "category_create" %}"> Create category </a>
        <ul>
        <p>Number of categories: {{categories.count}}</p>
        {% for category in categories %}
            <li><a href="{%url "category_detail" category_id=category.id %}">{{category.title}}</a>
            ({{category.posts.count}} posts)</li>
        {% endfor %}
        </ul>
{% endblock %}

