{% extends "core/base.html" %}

{% block content_name %}
    <h2>{{category.title}}</h2>
{% endblock %}

{% block content %}
        <a href="{% url 'user_detail' user_id=category.author.id %}">{{category.author.username}}</a>
        {% if category.author.username == user.username %}
            <a href="{% url "category_update" category_id=category.id %}"> Update category </a>
        {% endif %}
    <hr>
        <h4>{{category.posts.count}} posts with this category</h4>
        <ul>
        {% for post in category.posts.all %}
            <li><a href="{%url "post_detail" post_id=post.id %}">{{post.title}} </a>
            ({{post.author.username}} | {{post.date_created}} | {{post.comments.count}} comments)</li>
        {% endfor %}
        </ul>
{% endblock %}