{% extends "core/base.html" %}

{% block content_name %}
    <h2>All posts</h2>
{% endblock %}

{% block content %}
        <form>
            {{ PostListForm }}
            <input type="submit" value="Search">
        </form>
    <hr>
        <a href="{% url "post_create" %}"> Create post </a>
        <ul>
        <p>Number of posts: {{posts.count}}</p>
        {% for post in posts %}
            <li><a href="{%url "post_detail" post_id=post.id %}">{{post.title}} </a>
            ({{post.author.username}} | {{post.date_created}} | {{post.comments.count}} comments)</li>
        {% endfor %}
    </ul>
{% endblock %}
