{% extends "core/base.html" %}

{% block content_name %}
    <h1>Main page</h1>
{% endblock %}

{% block content %}

    <section>
        <h2>Last post</h2>
            {% for post in PostList %}
            <article class="jumbotron">
                <h3>{{ post.title }}</h3>
                <p class="lead"> {{ post.text }}</p>
                <a class="btn btn-primary" href="{% url "post_detail" post_id=post.id %}"> Read</a>
            </article>
            {% endfor %}
    </section>

    <section>
        <h2>Last user</h2>
        {% for user in UserList %}
            <article class="jumbotron">
                <h3>{{ user.username }}</h3>
                <p class="lead">Posts: {{ user.posts.count }} Comments: {{ user.comments.count }}</p>
                <a class="btn btn-primary" href="{% url "user_detail" user_id=user.id %}"> Detail</a>
            </article>
        {% endfor %}
    </section>

    <section>
        <h2>Last category</h2>
            {% for category in CategoryList %}
                <article class="jumbotron">
                    <h3>{{ category.title }}</h3>
                    <p class="lead">Posts: {{ category.posts.count }}</p>
                   <a class="btn btn-primary" href="{% url "category_detail" category_id=category.id %}"> Detail</a>
                </article>
            {% endfor %}
    </section>
{% endblock %}
