{% extends "core/base.html" %}

{% block content_name %}
    <h2>All users</h2>
{% endblock %}

{% block content %}
        <form action="" method="GET">
            {{ UserListGetForm }}
            <input type="submit" value="Search">
        </form>
    <hr>
        <ul>
        <p>Numbers of users: {{users.count}}</p>
        {% for user in users %}
            <li><a href="{%url "user_detail" user_id=user.id %}">{{user.username}}</a>
            (Posts: {{user.posts.count}} | Comments: {{user.comments.count}})</li>
        {% endfor %}
        </ul>
{% endblock %}

