{% extends "core/base.html" %}

{% block content_name %}
    {% if user.username == object_user.username %}
        <h1>My profile</h1>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{object_user.username}}</h1>
        <ul>
            <li>{{object_user.first_name}} {{object_user.last_name}}</li>
            <li>{{object_user.email}}</li>
            <li>{{object_user.last_login}}</li>
        </ul>
    </div>
    <div class="jumbotron">
        <h2>{{object_user.posts.count}} posts</h2>
        <ul>
        {% for post in object_user.posts.all %}
            <li><a href="{%url "post_detail" post_id=post.id %}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="jumbotron">
        <h2>{{object_user.comments.count}} comments</h2>
        <ul>
        {% for comment in object_user.comments.all %}
            <li><a href="{%url "post_detail" post_id=comment.author.id %}">
            {{comment.post.title}} </a>| {{comment.date_created}}
            <br> {{comment.text}}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}