{% extends "core/base.html" %}

{% block content_name %}
    <h3>Пользователь №{{user.id}}</h3>
{% endblock %}

{% block content %}
    <h4>Информация</h4>
    <ul>
        <li>id: {{user.id}}</li>
        <li>password: {{user.password}}</li>
        <li>last_login: {{user.last_login}}</li>
        <li>is_superuser: {{user.is_superuser}}</li>
        <li>username: {{user.username}}</li>
        <li>first_name: {{user.first_name}}</li>
        <li>last_name: {{user.last_name}}</li>
        <li>email: {{user.email}}</li>
        <li>is_staff: {{user.is_staff}}</li>
        <li>is_active: {{user.is_active}}</li>
        <li>date_joined: {{user.date_joined}}</li>
    </ul>

    <h4>Посты</h4>
    <ul>
    {% for post in user.posts.all %}
        <a href="{%url "post_id" post_id=post.id %}"><li>{{post.title}}</li></a>
    {% endfor %}
    </ul>

    <h4>Комментарии</h4>
    <ul>
    {% for comment in user.comments.all %}
        <li><a href="{%url "post_id" post_id=comment.author.id %}">{{comment.post.title}} </a>| {{comment.date_create}}
            <br> {{comment.text}}</li>
    {% endfor %}
    </ul>
{% endblock %}