{% extends "base.html" %}

{% block content_name %}
    <h3>Пользователь №{{user.id}}</h3>
{% endblock %}

{% block content %}
    <h4>Информация</h4>
    <ul>
        <li>id: {{user.id}}</li>
        <li>password: {{user.password}}</li>
        <li>last_login: {{user.last_login}}</li>
        <li>is_superuser: {{user.is_superuser}}</li>
        <li>username: {{user.username}}</li>
        <li>first_name: {{user.first_name}}</li>
        <li>last_name: {{user.last_name}}</li>
        <li>email: {{user.email}}</li>
        <li>is_staff: {{user.is_staff}}</li>
        <li>is_active: {{user.is_active}}</li>
        <li>date_joined: {{user.date_joined}}</li>
    </ul>

    <h4>Посты пользователя</h4>
    {% for post in user.posts.all %}
        <a href="{%url "post_id" post_id=post.id %}"><li>{{post.id}} | {{post.title}}</li></a>
    {% endfor %}

    <h4>Комментарии</h4>
    {% for comment in user.comments.all %}
        <li>{{comment.post.title}} | {{comment.date_create}} | {{comment.text}}</li>
    {% endfor %}

{% endblock %}